#posture{
    
    border: 1px solid black;

    background: #2f4f4f;
    height: 450px;
    background-image: url(pictures/blue.jpg);
    background-size: cover;     
    background-repeat: no-repeat;
    
}
.get{
    font-size: 40px;
    color: rgb(19, 198, 221);
}
.home{
    font-size: 20px;
    color: rgb(19, 198, 221);

}

#forth{
        
     
     height: 500px;


}

.map{
      border:1px solid black;

   height: 400px;
   width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 300px;
    border-radius: 10px 10px;
}


.form{
    border:1px solid black;
    height: 400px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
   
    margin-right: 150px;
    border-radius: 10px 10%;
}



#nextposter{

border: 1px solid black;
height: 400px;
background: #2f4f4f ;
background-image: url(pictures/fire2.jpg);



}

ul#contact{
    list-style-type: circle;
}

