 /* 2nd navbar */
 #header{
    background: #34495e;
    color: cornsilk;
    height: 30px;
}
#menu li{
    list-style: none;
   display:inline-block;
}

#menu li a{
    padding: 15px 10px;
    display: block;
  }
  #menu li a:hover{
      background: #2d3436;
    }
  a:hover{
      text-decoration: none;
  }
      /* /2nd navbar */

      #blue{
        background: url('pictures/blue.jpg') no-repeat 0 0 ;  
        background-size: cover;
        color:  #2d3436; 
        height: 300px ;
         width: auto;
      }

